version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      POSTGRES_DB: appdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
